*{
	outline: 1px solid red;
}
.flechita{
	margin-top: 35px;
}
.fondo{
	background:url(../img/fondok.png) no-repeat center center;
	background-size: cover;	
	height: 732px;
}
a{
	margin-top: 590px;
	color: white;
}
a.lila{
	background: rebeccapurple;
}

