*{
	outline: 1px solid red;
}
.fondo{
	background:url(../img/fondok.png) no-repeat center center;
	background-size: cover;	
	height: 732px;
}
a{
	margin-top: 590px;
}
/*-----------Sign up----------*/
.flechita{
	margin-top: 35px;
}

