.container{
	height: 100% ;
}
#map{
	height: 100%;
}

#btn-select{
	padding: 0;
	border-radius: 10px;
}
#select{
	position: relative;
	transform: translateY(-100px);
}
.tipoCar{
	margin-right:20%;
	
}

.selector{
	margin-top: 15px;
	margin-left: 15px;
	bottom: 200px;
    padding: 3px;
    border: 1px solid #605d5d;
    border-radius: 15px;
}
.line{
	margin-top: 10px;
}
.plus{
	margin-right: 13px;
	padding-left: 10px;
	margin-top: 7px;
}

.siguiente {
	width: 100%;
	position: absolute;
	left: 0px;
    background: rebeccapurple;
    color: white;
    font-weight: bold;
    padding: 20px 0;
}

.siguiente2 {
	width: 100%;
	position: absolute;
	left: 0px;
    background: #ff00bf;
    color: white;
    font-weight: bold;
    padding: 20px 0;
}
